[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
pyyaml = "==5.4"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"

[requires]
python_version = "3.6"
