name: Python package

on:
  - push
  - pull_request

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    env:
      CODECOV_TOKEN='5da5dab1-15b6-43bb-aa3c-4d191e422e16'

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          pip install -r requirements.txt
          pip install tox pytest
          python -c "import nltk; nltk.download('stopwords')"
      - name: Lint with pre-commit
        run: pre-commit run --all-files
      - name: Testing on python ${{ matrix.python-version }} with tox
        run: tox -e py
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
